.Consult {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.box-container {
    width: 95%;
    padding: 16px;
    height: 75vh;
    display: flex;
    flex-direction: column;
}
  
.typography-title {
    text-align: center;
    margin-bottom: 16px;
}
  
.no-records-text {
    color: gray;
    text-align: center;
}
  
.table-container {
    flex: 1;
    width: 100%;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
}
  
.table-header-cell {
    font-weight: bold;
}  